.top {
  width: 100%;
  height: 50px;
  background-color: rgb(81, 63, 148);
  position: sticky;
  top: 0;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 55;
}

.topLeft,
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topCenter {
  flex: 6;
}

.topList {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 400;
}

.topIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}

.topImage {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 15px;
}

.searchIcon {
  font-size: 20px;
  margin-left: 15px;
  color: #666;
  cursor: pointer;
}
