.login {
  height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/760721/pexels-photo-760721.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}

.loginTitle {
  font-size: 50px;
}

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.loginForm > label {
  margin: 10px 0;
}

.loginInput {
  padding: 10px;
  background-color: white;
  border: none;
}

.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: lightcoral;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.loginButton:disabled {
  cursor: not-allowed;
  background-color: rgb(255, 167, 167);
}

.loginRegisterButton {
  position: absolute;
  top: 60px;
  right: 20px;
  cursor: pointer;
  border: none;
  padding: 10px;
  color: white;
  background-color: teal;
  border-radius: 10px;
}
